[submodule "externals/llvm-project"]
	path = externals/llvm-project
	url = git@github.com:compiledracrys007/llvm-project.git
        branch = dev/main
[submodule "externals/stablehlo"]
	path = externals/stablehlo
	url = git@github.com:compiledracrys007/stablehlo.git
        branch = dev/main
